@font-face {
  font-family: "PTsans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PTsans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "PTsans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  min-width: 320px;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.button {
  display: block;
  width: 284px;
  margin: 0 auto;
  padding: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PTsans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
}
.navigation {
  display: flex;
}
.navigation__link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
.navigation__link--current {
  color: #766357;
}
.welcome__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.welcome__text {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}
.welcome__hero {
  background-color: #81b3d2;
  text-align: center;
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome__hero--main {
  min-height: 389px;
}
.welcome__info {
  padding: 19px;
}
.advantages__block {
  background-color: #eeeeee;
}
.advantages__item--photo .advantages__block {
  background-color: #81b3d2;
}
.advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.advantages__description {
  text-transform: uppercase;
  margin: 0;
}
.recommend__item {
  padding: 23px 0 23px 48px;
  background-position: center left;
  background-repeat: no-repeat;
}
.recommend__item--house {
  background-image: url("../img/icon-house.svg");
}
.recommend__item--food {
  background-image: url("../img/icon-food.svg");
}
.recommend__item--souvenir {
  background-image: url("../img/icon-souvenir.svg");
  background-position: center left 5px;
}
.interest {
  padding: 38px 29px 49px 29px;
}
.interest__title {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
}
.interest__text {
  text-transform: uppercase;
}
.page-footer {
  padding: 29px 23px;
}
.page-footer__hashtag {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.page-footer__made-by {
  margin: 0;
  text-transform: uppercase;
}
.social__link {
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  background-color: #81b3d2;
  display: inline-block;
}
.picture-block {
  padding: 24px 20px;
}
.picture-block__title {
  font-weight: 700;
  text-transform: uppercase;
}
.picture-block__author {
  color: #333333;
  font-weight: 700;
}
.picture-block__rating {
  border: none;
}
.video {
  padding: 17px 27px 0;
}
.video__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
.video__text {
  text-transform: uppercase;
  color: #333333;
}
.main-form {
  font-size: 18px;
  line-height: 26px;
}
.main-form__filter-group {
  padding: 24px 20px;
  border: none;
  border-top: 1px solid #e5e5e5;
}
.main-form__title {
  text-transform: uppercase;
}
.main-form__label {
  color: #333333;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}
.main-form__input {
  font-family: "PTsans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.main-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.control__label {
  font-weight: 700;
}
.main-form__text {
  resize: none;
  min-height: 150px;
}
.main-form__required-field {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
/*# sourceMappingURL=style.css.map */
