.advantages__block {
  background-color: #eeeeee;
}

.advantages__item--photo .advantages__block {
  background-color: #81b3d2;
}

.advantages__title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__description {
  text-transform: uppercase;
  margin: 0;
}
