.main-form {
  font-size: 18px;
  line-height: 26px;
}

.main-form__filter-group {
  padding: 24px 20px;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.main-form__title {
  text-transform: uppercase;
}

.main-form__label {
  color: #333333;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}

.main-form__input {
  font-family: "PTsans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.main-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.control__label {
  font-weight: 700;
}

.main-form__text {
  resize: none;
  min-height: 150px;
}

.main-form__required-field {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
