.multimedia__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 43px 60px;
    border: none;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 17px 0 0 0;
  }
}
