.welcome {
  text-align: center;
}

.welcome__title {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.welcome__text {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}

.welcome__hero {
  background-color: #81b3d2;
  text-align: center;
  background-image: url("../img/welcome-decor.svg"), url("../img/welcome.jpg");
  background-size: 1200px 57px, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  min-height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__image {
  width: auto;
}

.welcome__hero--main {
  min-height: 389px;
}

.welcome__info {
  padding: 19px;
}
