.welcome__title {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.welcome__text {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}

.welcome__hero {
  background-color: #81b3d2;
  text-align: center;
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__hero--main {
  min-height: 389px;
}

.welcome__info {
  padding: 19px;
}
